*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: sans-serif;
}

.container {
  min-width: 1000px;
  padding: 60px;
  text-align: center;
}

.input {
  width: 340px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
}

#todo-btn {
  display:inline-block;
  text-decoration:none;
  font-size: 18px;
  margin-left: 30px;
  padding:6px 24px;
  background-color:#351ebb;
  color:#ffffff;
  border-radius:6px;
  cursor:pointer;
}

#todo-btn:active {
  position:relative;
  top:1px;
}

.todo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 2px solid darkgrey;
}

i {
  color: darkgrey;
  margin: 5px;
  cursor: pointer;
}

